In [1]:
pip install alpaca_trade_api

Requirement already satisfied: alpaca_trade_api in c:\users\n1ck_\anaconda3\lib\site-packages (1.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: requests<3,>2 in c:\users\n1ck_\anaconda3\lib\site-packages (from alpaca_trade_api) (2.26.0)
Requirement already satisfied: websockets<10,>=8.0 in c:\users\n1ck_\anaconda3\lib\site-packages (from alpaca_trade_api) (9.1)
Requirement already satisfied: websocket-client<2,>=0.56.0 in c:\users\n1ck_\anaconda3\lib\site-packages (from alpaca_trade_api) (1.1.0)
Requirement already satisfied: msgpack==1.0.2 in c:\users\n1ck_\anaconda3\lib\site-packages (from alpaca_trade_api) (1.0.2)
Requirement already satisfied: urllib3<2,>1.24 in c:\users\n1ck_\anaconda3\lib\site-packages (from alpaca_trade_api) (1.26.6)
Requirement already satisfied: numpy in c:\users\n1ck_\anaconda3\lib\site-packages (from alpaca_trade_api) (1.20.3)
Requirement already satisfied: pandas in c:\users\n1ck_\anaconda3\lib\site-packages (from alpaca_trade_api) (1.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\n1ck_\anaconda3\lib\site-packages (from requests<3,>2->alpaca_trade_api) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\n1ck_\anaconda3\lib\site-packages (from requests<3,>2->alpaca_trade_api) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\n1ck_\anaconda3\lib\site-packages (from requests<3,>2->alpaca_trade_api) (2021.5.30)
Requirement already satisfied: pytz>=2017.3 in c:\users\n1ck_\anaconda3\lib\site-packages (from pandas->alpaca_trade_api) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\n1ck_\anaconda3\lib\site-packages (from pandas->alpaca_trade_api) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\n1ck_\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->alpaca_trade_api) (1.16.0)

In [25]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import numpy as np
import matplotlib.pyplot as plt
import json

%matplotlib inline

load_dotenv()

True

In [3]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()
# Set Alpaca API key and secret
alpaca_api_key = os.getenv('ALPACA_API_KEY')
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY')
# Verify that Alpaca keys were loaded
print(f'Alpaca key type:{type(alpaca_api_key)}')
print(f'Alpaca secret tyep: {type(alpaca_secret_key)}')

Alpaca key type:<class 'str'>
Alpaca secret tyep: <class 'str'>

In [4]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [7]:
# Format current date as ISO format
# YOUR CODE HERE!
today = pd.Timestamp("2020-07-22", tz="America/New_York").isoformat()
# Set the tickers
tickers = ['SPY']

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY 
# YOUR CODE HERE!
df_spy = alpaca.get_barset(
    tickers,
    timeframe,
    start = today,
    limit = 1000
).df
# Preview DataFrame
# YOUR CODE HERE!
df_spy_close

                              SPY
                             open      high       low    close     volume
time
2020-07-22 00:00:00-04:00  324.62  327.2000  324.5000  326.820   76092164
2020-07-23 00:00:00-04:00  326.47  327.2300  321.7200  322.935   81505661
2020-07-24 00:00:00-04:00  320.95  321.9900  319.2460  320.860  117984836
2020-07-27 00:00:00-04:00  321.63  323.4100  320.7750  323.180   42586195
2020-07-28 00:00:00-04:00  322.43  323.6400  320.8500  321.200   89313354
...                           ...       ...       ...      ...        ...
2021-07-19 00:00:00-04:00  426.19  431.4089  421.9700  424.970  127607115
2021-07-20 00:00:00-04:00  425.68  432.4200  424.8300  431.040   87430308
2021-07-21 00:00:00-04:00  432.34  434.7000  431.0111  434.560   54251351
2021-07-22 00:00:00-04:00  434.74  435.7200  433.6900  435.500   41998182
2021-07-23 00:00:00-04:00  437.53  440.3000  436.7900  439.900   53294703

[254 rows x 5 columns]

In [11]:
#set spy closing prices
spy_close_price = df_spy['SPY']['close'][0]
df_spy

                              SPY
                             open      high       low    close     volume
time
2020-07-22 00:00:00-04:00  324.62  327.2000  324.5000  326.820   76092164
2020-07-23 00:00:00-04:00  326.47  327.2300  321.7200  322.935   81505661
2020-07-24 00:00:00-04:00  320.95  321.9900  319.2460  320.860  117984836
2020-07-27 00:00:00-04:00  321.63  323.4100  320.7750  323.180   42586195
2020-07-28 00:00:00-04:00  322.43  323.6400  320.8500  321.200   89313354
...                           ...       ...       ...      ...        ...
2021-07-19 00:00:00-04:00  426.19  431.4089  421.9700  424.970  127607115
2021-07-20 00:00:00-04:00  425.68  432.4200  424.8300  431.040   87430308
2021-07-21 00:00:00-04:00  432.34  434.7000  431.0111  434.560   54251351
2021-07-22 00:00:00-04:00  434.74  435.7200  433.6900  435.500   41998182
2021-07-23 00:00:00-04:00  437.53  440.3000  436.7900  439.900   53294703

[254 rows x 5 columns]

In [26]:
# Crypto API URLs
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=USD"
btc_url_data = requests.get(btc_url)
btc_url_content = btc_url_data.json()

In [31]:
btc_url_content['data']

{'1': {'id': 1,
  'name': 'Bitcoin',
  'symbol': 'BTC',
  'website_slug': 'bitcoin',
  'rank': 1,
  'circulating_supply': 18765368,
  'total_supply': 18765368,
  'max_supply': 21000000,
  'quotes': {'USD': {'price': 33946.0,
    'volume_24h': 24098457093,
    'market_cap': 637132292702,
    'percentage_change_1h': 0.259956549041276,
    'percentage_change_24h': 4.67719087674726,
    'percentage_change_7d': 8.10819217556718,
    'percent_change_1h': 0.259956549041276,
    'percent_change_24h': 4.67719087674726,
    'percent_change_7d': 8.10819217556718}},
  'last_updated': 1627141194}}

In [17]:
#Rewriting column names 
columns = ['BlockNumber', 'TimeStamp', 'Hash', 'Nonce', 'BlockHash', 'AddFrom', 'ContractAddress', 'AddTo', 'Value']
btc_url.columns = columns

AttributeError: 'str' object has no attribute 'columns'

In [ ]:
#Change timestamp column to int
wbtc_date = wbtc_transaction['TimeStamp'].(int)

In [32]:
btc_respond = requests.get(btc_url).json()

In [37]:
btc_respond['data']['1']

{'id': 1,
 'name': 'Bitcoin',
 'symbol': 'BTC',
 'website_slug': 'bitcoin',
 'rank': 1,
 'circulating_supply': 18765387,
 'total_supply': 18765387,
 'max_supply': 21000000,
 'quotes': {'USD': {'price': 33914.0,
   'volume_24h': 24023588136,
   'market_cap': 635626722622,
   'percentage_change_1h': -0.0232329134127521,
   'percentage_change_24h': 4.8231688323188,
   'percentage_change_7d': 8.00871587063754,
   'percent_change_1h': -0.0232329134127521,
   'percent_change_24h': 4.8231688323188,
   'percent_change_7d': 8.00871587063754}},
 'last_updated': 1627142667}

In [41]:
# Fetch current BTC price
# YOUR CODE HERE!

#btc_price = btc_respond['data']['1']['quotes']['USD']['price']
#btc_volume_24h = btc_respond['data']['1']['quotes']['USD']['volume_24h']
#btc_7d = btc_respond['data']['1']['quotes']['USD']['percentage_change_7d']

#create empty df
#create empty lists
btc_price_list = []


for data_num in btc_respond['data'].keys():
    btc_price = btc_respond['data'][data_num]['quotes']['USD']['price']
    #append to price list
    btc_price_list.append(btc_price)
    
    btc_volume_24h = btc_respond['data'][data_num]['quotes']['USD']['volume_24h']
    #append to volumn_24h_list
    btc_volume_24h_list.append(btc_volume_24h)
    #append to market cap 
    btc_market_cap = btc_respond['data'][data_num]['quotes']['USD']['market_cap']
    btc_market_cap_list.append(btc_market_cap)
    #append last updated(WHICH IS THE !!TIMESTAMP!!)
    last_updated = btc_respond['data'][data_num]['last_updated']
    timestamp_list.append(last_updated)
    
btc_dict = {"btc_price":btc_price_list,
                "24h_volume": btc_volume_24h_list
                "market_cap": btc_market_cap_list,
               "date": timestamp_list}  

new_df = pd.DataFrame(dictionary)

    
    # add to empty data frame with data

SyntaxError: invalid syntax (<ipython-input-41-a7df95f27b77>, line 30)